# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if not using a global one)
venv/

.env

# Configuration and secret files (DO NOT expose credentials)


generate_token.py


# Dependency files (if using Pipenv)
Pipfile.lock

# Flask session and instance files



# Log files
*.log

# OAuth and authentication config
